{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %} Homepage {% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <ul style="list-style-type:none;">
      <li>
        <a href="{{ url_for ('define_connections.register_connection') }}"> Define Connections</a>
      </li>

      <li>
        <a href="{{ url_for ('direct_profile.direct_profile') }}"> Connect and Profile an Individual Query </a>
      </li>

      <li>
        <a href="{{ url_for ('monitor.monitor') }}"> Monitor a database </a>
      </li>

    </ul>
  </form>
{% endblock %}
