{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %} Global monitoring {% endblock %}</h3>
{% endblock %}

{% block content %}
  <style>
    input {
      width: 50%
    }

    /*td {
      border: 1px solid black;
    }*/
  </style>

  <script type="text/javascript">
    function updateflags() {
      var dbmenu = document.getElementById("servername");
      var dbDetails = dbmenu.options[dbmenu.selectedIndex].value.split(", ");
      document.getElementById("host").value = dbDetails[0];
      document.getElementById("port").value = dbDetails[1];
      document.getElementById("dbname").value = dbDetails[2];
    }
  </script>

  <form method="post">
    <table style="width: 75%">
      <tr>
        <td><label for="servername"> Select a Connection: </label></td>
        <td>
          <select name="servername" style="width: 50%" id="servername" onchange="updateflags()">
            {% for server in server_list %}
              <option value="{{ server['host'] }}, {{ server['port'] }}, {{ server['name'] }}"> {{ server['servername'] }} </option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <td style="width: 15%"><label for="host"> Host: </label></td>
        <td><input id="host" name="host" value="{{ session['connoptions']['host'] }}" required></td>
      </tr>

      <tr>
        <td><label for="port"> Port: </label></td>
        <td><input id="port" name="port" value="{{ session['connoptions']['port'] }}" required></td>
      </tr>

      <tr>
        <td><label for="dbname"> Database Name: </label></td>
        <td><input id="dbname" name="dbname" value="{{ session['connoptions']['database'] }}" required></td>
      </tr>

      <tr>
        <td><label for="username">Username: </label></td>
        <td><input name="username" id="username" value="{{ session['connoptions']['user'] }}" required></td>
      </tr>

      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Connect"></td>
      </tr>

    </table>
  </form>

  <p>
    <h3> Profiling Options </h3>

    <table style="width: 75%">
      <tr>
        <td><label for="connected"> Connected: </label></td>
        <td colspan=3><input type="checkbox" id="connected" name="connected" {{ 'checked="checked"' if session['connected'] else "" }} disabled></td>
      </tr>

      <tr>
        <td><label for="present"> Pl/Profiler Present: </label></td>
        <td colspan=3><input type="checkbox" id="present" name="present" {{ 'checked="checked"' if session['plprofiler_present'] else "" }} disabled></td>
      </tr>

      <tr>
        <td style="width:15%"><label for="global"> Profiling Enabled: </label></td>
        <td colspan=3><input type="checkbox" id="global" name="global" {{ 'checked="checked"' if session['global_enabled'] else "" }} disabled></td>
      </tr>

      <tr>
        <form method="POST" name="global_profiling_form">
          <td><label for="enable_global"> Global Profiling: </label></td>
          <td style="width:22%"><input style="width:100%" type="submit" name="submit" value="Enable"></td>
          <td style="width:22%"><input style="width:100%" type="submit" name="submit" value="Disable"></td>
          <td style="width:56%"> </td>

        </tr>

        <tr>
          <td><label for="interval"> Interval: </label></td>
          <td colspan=3><input id="interval" name="interval" value= "{{ session['interval'] }}" ></td>
        </tr>
      </form>
    </table>
  </p>

  <p>
    <h3> Reset Shared Data </h3>
    <table style="width:75%">
      <form method="POST" name="reset_form">
        <tr>
          <td style="width: 15%"></td>
          <td><input type="submit" name="submit" value="Reset Shared Data"></td>
        </tr>
      </form>
    </table>
  </p>

  <p>
    <h3> Save & Make a Dataset </h3>
    <form method="POST" name="save">
      <table style="width: 75%">
        <tr>
          <td style="width:15%"><label for="name"> Name: </label></td>
          <td><input id="name" name="name"></td>
        </tr>

        <tr>
          <td><label for="title"> Title: </label></td>
          <td><input id="title" name="title"></td>
        </tr>

        <tr>
          <td><label for="desc"> Description: </label></td>
          <td><input id="desc" name="desc"></td>
        </tr>

        <tr>
          <td><label for="force"> Overwrite saved: </label></td>
          <td><input type="checkbox" name="force" value="True"></td>
        </tr>

        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Save"></td>
        </tr>
      </table>
    </form>
  </p>

  <p>
    <label for="error_log"> Error log: </label>
    <textarea name="error_log" id="error_log" rows="3" cols="78" readonly> {{ session['error'] }} </textarea>
  </p>
{% endblock %}
