{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %} Register a Database {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <ul style="list-style-type:none;">
      <li>
        <label for="servername"> Server Name: </label>
        <input name="servername" id="servername" required>
      </li>

      <li>
        <label for="host">Host: </label>
        <input name="host" id="host" required>
      </li>

      <li>
        <label for="port">Port: </label>
        <input name="port" id="port" required>
      </li>

      <li>
        <label for="dbname">Database Name: </label>
        <input name="dbname" id="dbname" required>
      </li>

      <li>
        <input type="submit" value="register">
      </li>
    </ul>
  </form>
{% endblock %}
